<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="menu btn btn-primary" href="/">Message Board</a>
        <a class="menu btn btn-success" href="messages/new">New Message</a>
        <a class="menu btn btn-warning" href="messages/edit">Edit</a>
        <a class="menu btn btn-info" href="messages/show">Show</a>
      </div>
    </div>
  </nav>
  <hr>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>